#main{
}
#resources{
	position: fixed;
	background-color: #AAAAAA;
	padding-left: 10px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 20px;
	top: 0px;
	right: 0px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	background: #FFF none repeat scroll 0% 0%;
	z-index: 999999;
}
.mineButton{
	z-index: 999999;
	position: absolute;
	top: 180px;
	left: 100px;
}
#world{
	margin: 0;
}
.mountains{
	margin-right: 710px;
}
.click{
	padding-top: 100px;
}
.click-maincave{
	padding-top: 80px;
}
.click-mystcave{
	padding-top: 60px;
}
.click-weaponshop{
	padding-top: 80px;
}
.click:hover{
	cursor: pointer;
}
#mainShop{
	padding-bottom: 100px;
}
#closeMessage{
	margin-left: 400px;
}
.undergroundVillage{
	position: absolute;
	top: 388px;
}
.alert {
    position: fixed;
    z-index: 9999999;
    top: 100px;
    left: 250px;
    border: 1px solid #000;
    padding: 20px;
    background: #FFF none repeat scroll 0% 0%;
    width: 500px;
}